@import "base/reset.css";
@import "base/typography.css";
@import "base/responsive.css";
@import "layout/parallax.css";
@import "component/button.css";
@import "component/card.css";
@import "component/loader.css";
@import "utils/variable.css";


      /* ===== Global Container ===== */
.global__conatiner{
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../img/bg.svg");
}

      /* ===== Responsive Breakpoints ===== */
/* Mobile Phone Breakpoint */
@media only screen and (max-width: 428px){
            /* Parallax */
      /* layer 2 */
      .layer_2{
            bottom: -75px;
            right: 0;
      }

       /* layer 3 */
       .layer_3{
            bottom: 0px !important;
            right: 0;
      }

      /* layer 4 - tower */
      .layer_4{
            bottom: 50px;
            right: 0px;
            width: 80px;
            transform: scale(1);
      } 

      /* layer 10 - mountain */
      .layer_8M{
           top: 140px !important;
           transform: scale(1)
      } 
      
      /* layer 11 - cloud */
      .layer_8C{
          top: 80px !important;
          left: 1000px;
          transform: scale(0.8)
      }

      /* cloud */
      .layer_9C{
            top: 40px !important;
            left: 450px;
      }

      /* layer 7 - left clif */
      .layer_7{
            bottom: 20px !important;
            left: -30px;
      }
      /* layer 7 - right clif */
      .layer_7R{
            bottom: 60px !important;
            right: -150px;
      }

            /* card */
      .card__background{
            width: 80%;
      }

      .images{
            width: 100px;
      }

      .user__info{
            margin-top: 0px;
      }

      .username{
            font-size: var(--text_md)
      }

      .user__role{
            font-size: var(--text_xs);
      }

      .btn{
            height: auto;
            padding: 0.7rem 0;
      }
      
      .text__btn{
            font-size: var(--text_sm);
      }
      
      .icon{
            font-size: var(--text_md);    
      }

      .copyright{
            letter-spacing: 0.5px;
      }
}

     
/* Tablet/Ipad Breakpoint */
@media screen and (max-width: 768px){

}
      
/* Dekstop Breakpoint */
@media screen and (max-width: 1280px){
      
}
      